# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Vite
*.local

# Firebase
.firebase/
firebase-debug.log
.firebaserc.local
.env.production
